<div class="loader-wrapper" *ngIf="isLoading">
  <div class="loader"></div>
</div>

<div class="clearfix"></div>
<div style="padding-top: 60px;"></div>

<section id="single-estate-wrapper">

  <div id="cover" [ngStyle]="{'background-image' : 'url(' + mediaUrl + estate['meta']['foto_url'] +')'}"></div>

  <div class="col-md-10 col-md-offset-1">
    <div class="panel shadow-top-bottom">
      <div class="panel-body">
        <div class="row">

          <div class="col-md-8">
            <h1><i class="fas fa-file-alt"></i> Descrição do imóvel</h1>
            <hr>
            <span style="font-size: 1.2em;" [innerHTML]="parseAndSanitizeHTML(estate['meta']['imovel_descricao'])"></span>

            <div class="clearfix"></div>
            <div style="padding-top: 75px;"></div>

            <h1><i class="far fa-images"></i> Fotos deste imóvel</h1>
            <hr>
            <app-gallery [pictures]="estate['fotos']"></app-gallery>

            <h1><i class="fas fa-map-marker-alt"></i> Localização do imóvel</h1>
            <hr>
            <app-map [lat]="estate['meta']['imovel_lat']" [lng]="estate['meta']['imovel_lon']"></app-map>

            <div class="clearfix"></div>
            <div style="padding-top: 75px;"></div>

            <h1><i class="fas fa-envelope"></i> Entre em contato!</h1>
            <hr>
            <app-contact estateCode="{{estate['meta']['imovel_ref']}}"></app-contact>
            <div class="clearfix"></div>
          </div>

          <div class="col-md-4">
            <h1><i class="fas fa-file-alt"></i> Imóveis similares</h1>
            <hr>

            <div class="row">
              <div class="col-md-12" *ngFor="let similar of estate['parecido']">
                <app-card [estate]="similar"></app-card>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

</section>
