<div class="clearfix"></div>

<div id="footerAbout" *ngIf="isReady">
  <div class="col-md-10 col-md-offset-1 text-center">
    <img src="./assets/logo-sem-sombra.png" style="height: 75px; margin-top: 25px" alt="">
    <h4 class="text-uppercase">+55 (47) 99660-2085</h4>
    <h4 class="text-uppercase">Bombinhas, Santa Catarina - Brasil</h4>
  </div>
  <div class="clearfix"></div>
</div>

<div style="width: 100%">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img id="footerBrand" src="./assets/cochise.png" alt="">
        </div>
      </div>
    </div>
  </footer>
</div>
