<section>

  <div class="col-md-10 col-md-offset-1">
    <h1>Bombinhas</h1>
    <h3>Bombinhas é uma pequena cidade localizada no Litoral Centro-Norte do estado de Santa Catarina BR.</h3>
    <hr>
    <p>
      Dentre as diversas belezas naturais distribuídas pelo seu território,
      a cidade possui destaque pelas 39 praias.
    </p>
    <p>
      Ao longo de todo o ano é possível desfrutar de diferentes opções nesta
      cidade que encanta públicos de todo mundo, esportes, turismo, lazer,
      aventura, atividades ecológicas, gastronomia, cultura e negócios são
      alguns dos exemplos de atividades que atraem quase muitos turistas para a cidade.
    </p>
    <p>
      Algumas delas são acessíveis somente por trilhas ou pelo mar.
    </p>
    <p>
      As praias mais conhecidas e procuradas são:
    </p>
    <ul>
      <li>Bombinhas - Centro <strong>(aonde estão localizados nossas opções para locação)</strong></li>
      <li>Bombas</li>
      <li>Canto Grande</li>
      <li>Conceição</li>
      <li>Mariscal</li>
      <li>Quarto Ilhas</li>
      <li>Retiro dos Padres</li>
      <li>Sepultura</li>
      <li>Tainha</li>
      <li>Zimbros</li>
    </ul>
    <hr>
    <div class="row">

      <div class="col-md-4">
        <div class="image-gallery" style="background: url('../../../assets/bombinhas/CANTO_GRANDE_PORDOSOL.jpg') no-repeat"></div>
      </div>


      <div class="col-md-4">
        <div class="image-gallery" style="background: url('../../../assets/bombinhas/MARISCAL_VISTA_GERAL.jpg') no-repeat"></div>
      </div>

      <div class="col-md-4">
        <div class="image-gallery" style="background: url('../../../assets/bombinhas/CANTO_GRANDE_VISTA_AEREA.jpg') no-repeat"></div>
      </div>

      <div class="clearfix"></div>
      <hr>

      <div class="col-md-4">
        <div class="image-gallery" style="background: url('../../../assets/bombinhas/TAINHAS_VISTA_GERAL.jpg') no-repeat"></div>
      </div>



      <div class="col-md-4">
        <div class="image-gallery" style="background: url('../../../assets/bombinhas/4_ILHAS_VISTA_PAN.jpg') no-repeat"></div>
      </div>

      <div class="col-md-4">
        <div class="image-gallery" style="background: url('../../../assets/bombinhas/BOMBINHAS_FOTO_01.jpg') no-repeat"></div>
      </div>

      <div class="clearfix"></div>
      <hr>

    </div>
  </div>
  <div class="clearfix"></div>
</section>
