<!-- @todo: make this true responsive -->

<section>
  <div id="homeHeader" *ngIf="!pageScrolled">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-3">
          <img id="brand" src="./assets/logo-sem-sombra.png" alt="" (click)="scrollTo('topOfTheWorld')">
        </div>
        <div class="col-md-9">
          <ul id="homeMenu">
            <li class="text-center">
              <h2><i class="fas fa-envelope"></i></h2>
              <h3>Contato</h3>
            </li>
            <li class="text-center">
              <h2><i class="fas fa-map"></i></h2>
              <h3>Bombinhas</h3>
            </li>
            <li class="text-center" (click)="scrollTo('estatesRow')">
              <h2><i class="fas fa-map"></i></h2>
              <h3>Imóveis</h3>
            </li>
            <li class="text-center" (click)="scrollTo('topOfTheWorld')">
              <h2><i class="fas fa-home"></i></h2>
              <h3>Principal</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="homeHeaderFixed" *ngIf="pageScrolled" [@fade]>
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-3">
          <img id="brandFixed" src="./assets/logo-sem-sombra.png" alt="" (click)="scrollTo('topOfTheWorld')">
        </div>
        <div class="col-md-9">
          <ul id="homeMenuFixed">
            <li class="text-center" (click)="scrollTo('contact')">
              <h2><i class="fas fa-envelope"></i></h2>
              <h3>Contato</h3>
            </li>
            <li class="text-center" (click)="scrollTo('aboutBombinhas')">
              <h2><i class="fas fa-map"></i></h2>
              <h3>Bombinhas</h3>
            </li>
            <li class="text-center" (click)="scrollTo('estatesRow')">
              <h2><i class="fas fa-map"></i></h2>
              <h3>Imóveis</h3>
            </li>
            <li class="text-center" (click)="scrollTo('topOfTheWorld')">
              <h2><i class="fas fa-home"></i></h2>
              <h3>Principal</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
