<div class="loader-wrapper" *ngIf="isLoading">
  <div class="loader"></div>
</div>

<section>

  <div id="cover" [ngStyle]="backgroundStyles">
    <div id="overlay">
      <div class="col-md-10 col-md-offset-1">
        <h1 id="homeMainTitle" (click)="scrollToElement('estatesRow', true)">
          Aqui você encontra o imóvel
          <br>
          ideal para os seus dias em Bombinhas!
          <br>
          <strong>Quero!</strong>
        </h1>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div style="padding-top: 75px;"></div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row" id="estatesRow">
      <div class="col-md-3" *ngFor="let estate of indexData">
        <app-card [estate]="estate"></app-card>
      </div>
    </div>
  </div>


  <div class="col-md-10 col-md-offset-1">
    <hr>
  </div>

</section>


